@page
@model RAZOR6YASORTALAMASI.Pages.test1Model

<div style="padding: 20px; font-family: Arial;">
    <h2>Öğrenci Bilgileri</h2>
    <hr />
    <h3>Ad: @Model.Ogrenci.Ad</h3>
    <h3>Yaş: @Model.Ogrenci.Yas</h3>
    <h3>Ortalama: @Model.Ogrenci.Ortalama</h3>
</div>