@page
@model RAZOR6VIEVM.Pages.PrivacyModel

<div style="padding: 20px; font-family: Arial;">
    <h2>Öğrenci Bilgileri</h2>
    <p>Adı: @Model.Ogrenci.Ad</p>
    <p>Yaşı: @Model.Ogrenci.Yas</p>
    <p>Ortalaması: @Model.Ogrenci.Ortalama</p>
</div>