@page
@model RAZOR7.Pages.test1Model

<form method="post">
    <div>
        <label>Ad:</label><br />
        <input asp-for="Ogrenci.Ad" />
        <span asp-validation-for="Ogrenci.Ad" style="color:red;"></span>
    </div>

    <div>
        <label>Yaş:</label><br />
        <input asp-for="Ogrenci.Yas" />
        <span asp-validation-for="Ogrenci.Yas" style="color:red;"></span>
    </div>

    <div>
        <label>Email:</label><br />
        <input asp-for="Ogrenci.Email" />
        <span asp-validation-for="Ogrenci.Email" style="color:red;"></span>
    </div>

    <button type="submit">Kaydet</button>
</form>

@if (Model.Sonuc != null)
{
    <h2 style="color:green;">@Model.Sonuc</h2>
}