@page
@model RAZOR7.Pages.test1Model

<div style="padding: 20px; font-family: Arial; border: 1px solid #ccc;">
    <h2>Öğrenci Kartı (RAZOR7)</h2>
    <hr />
    <p><strong>Ad:</strong> @Model.Ogrenci.Ad</p>
    <p><strong>Yaş:</strong> @Model.Ogrenci.Yas</p>
    <p><strong>Ortalama:</strong> @Model.Ogrenci.Ortalama</p>
    <p><strong>E-posta:</strong> @Model.Ogrenci.Email</p>
</div>